<div th:fragment="new">
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate>
        <table cellpadding="5">
            <tr>
                <td>Username:</td>
                <td><input type="hidden" name="id"/>
                    <input class="easyui-textbox" name="username" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="easyui-textbox" type="text" name="password" /></td>
            </tr>
            <tr>
                <td>Nickname:</td>
                <td><input class="easyui-textbox" type="text" name="nickname" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><input class="easyui-datebox" type="text" name="birthday" data-options="required:true" /></td>
            </tr>
        </table>
    </form>
</div></div>