<div th:fragment="new">
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">User Information</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>Name:</label>
            <input name="id" type="hidden" />
            <input name="username" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>Password:</label>
            <input name="password" class="easyui-textbox" required="true">
        </div>
        <div class="fitem">
            <label>Nickname:</label>
            <input name="nickname" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>Birthday:</label>
            <input name="birthday" class="easyui-datebox" data-options="editable:false" />
        </div>
    </form>
</div></div>